.ccIZRx {
    height: 20px;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    cursor: pointer;
}
.jflczC {
    background-color: rgb(255, 255, 255);
    display: flex;
  
    border-top: 0.5px solid rgb(226, 226, 226);
    border-bottom: 0.5px solid rgb(226, 226, 226);
    padding: 25px 15px;
    cursor: pointer;
}
.cYEBAO {
    font-family: sharp-sans-medium, fallback-font, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-transform: none;
    color: rgb(51, 51, 51);
}

.gBbBXd {
    margin-top: 3px;
    font-size: inherit;
}

.dIMPVP {
    display: inline-block;
    font-size: 1em;
    height: 1em;
    width: 1em;
}

*, *::before, *::after {
    box-sizing: inherit;
}



.bIfFwh {
    display: flex;
}

.gVdZpt {
    font-family: sharp-sans-semibold, fallback-font, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-transform: none;
    display: inline-flex;
}


.egcfdg {
    width: 1.075em;
}

.dIMPVP {
    display: inline-block;
    font-size: 1em;
    height: 1em;
    width: 1em;
}



svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.mWbpF {
  font-family: sharp-sans-bold, fallback-font, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0em;
  text-transform: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.sc-eYqcxL-dxazRo{
  display: flex;
}

.sc-jTMoxg-gKplPz{
  display: flex;

}

.sc-jIILKH-GTYG{
  margin: 0px !important;
  padding: 0px !important;

}

  .Doctors-card-container{
    display: flex !important; 
    justify-content: center;
        border-top: 0.5px solid rgb(226, 226, 226);
    border-bottom: 0.5px solid rgb(226, 226, 226);
    padding: 30px 20px;
   
  }
   #Doctor-details{
    margin-left: 2%;
   }
   #heading{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 5%;
   }

   #button{
    background-color: rgb(255, 240, 75);
    border: 1px solid rgb(255, 240, 75);
    color: rgb(51, 51, 51);
   }