@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background:rgb(253, 250, 238);
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 60px;
  flex-wrap: wrap;
  
}
nav .logo{
    display: flex;
    align-items: center;
    
}
nav .logo>h3{
    margin-top: 9px;
    font-weight: 900;
    color:rgb(51, 51, 51);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

nav .logo>img{
  width: 70px;
  margin-right: 20px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
 
}

nav ul a{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

nav ul a>span{
    margin-left: 10px;
    margin-right: 5px;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: rgb(253, 250, 238);
}
nav .menu-btn i{
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

#HomePage{
    background-image: url('./dental-care.png');
    background-repeat: no-repeat;

 background-position: right;
 background-color: rgb(253, 250, 238);
 height: 521px;
 
 
}

.description{
    padding-top: 50px;
    padding-left: 60px;
}

.input-box {
  
    display: flex;
    height: 76px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .input-box i,
  .input-box .button {
   
    top: 50%;
    
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: rgb(255, 240, 75);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right: 10px;
  }
  
  .SearchBoxContainer{
    margin-top: 40px;
    margin-left: 30px;
  }

  .TopService{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: none;
    column-gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .TopService div>img{
    display: flex;
    margin: auto;
    width: 100px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }

  .TopService div{
   background-color: rgb(245, 240, 226);
   border-radius: 4px;
    border: 1px solid rgb(206, 213, 221);
    padding: 23px 0px 13px;
  }

  .TopServiceHeading{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: 100;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px
  }

  .ReviewBookHeading{
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 1px;
  }
.ReviewBook{
    background-color: rgb(255, 240, 187);
    padding-top: 60px;
}
  .ReviewBookContainer{
       display: grid;
       grid-template-columns: repeat(2,1fr);
      column-gap: 40px;
      padding-left: 30px;
      padding-right: 30px;
    
  }


  .ReviewBookContainer div>img{
    display: flex;
    margin: auto;
    max-width: 30%;
    margin-top: -80px;
  }

  .ReviewBookContainer div>h4{
   text-align: center;
   letter-spacing: 1px;
   font-weight: lighter;
   
  }

  .ReviewBookContainer>div{
     background-color:rgb(253, 250, 238);
    padding-bottom: 20px;
    border-radius: 8px;
  }

  .ReviewBookContainer .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 30%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: -1px;
    border: 2px solid rgb(25, 42, 80);
    font-size: 17px;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(253, 250, 238);
    cursor: pointer;
  }


  .GetApp_leftSide>h3{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 0em;
    text-transform: none;
    margin-left: 30px;
  }

  .GetApp_leftSide>p{
    margin-top: 14px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 30px;
  }
  .GetApp{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(255, 199, 148);
    padding-top: 50px;
  }


  .IazCA {
    padding: 8px;
    border-radius: 8px;
    margin-left: 25px;
    display: flex;
    background-color: #fff;
    width:116px;
  
  }

  .GetApp_rightSide{
    color: black;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDE4IDM5NSI+CiAgPHBhdGggZD0iTTcwNC4yNDcgMzguNDgzYzEyOS42MzIgNTIuMDY4IDIzMy40MDcgMTUzLjg0NCAyODguNDk4IDI4Mi45NEE1MzIuMDYyIDUzMi4wNjIgMCAwIDEgMTAxNy45NiAzOTVILjVhNTMyLjMyIDUzMi4zMiAwIDAgMSAxOS45NTctNjAuNzg3QzcyLjE3OCAyMDMuNzEyIDE3My4yNzcgOTkuMjQxIDMwMS41MTMgNDMuNzhjMTI4LjIzNS01NS40NiAyNzMuMTAzLTU3LjM2NSA0MDIuNzM0LTUuMjk3WiIgZmlsbD0iI0ZFRUQ1QSIvPgo8L3N2Zz4K);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 45px;
    
    padding-bottom: 0px !important;
  }

  .GetApp_rightSide>img{
    display: flex;
    width: 540px;
    margin: auto;
    max-width: none;
   

  }
  .MainDivPartnerWithDentDesk{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
  }

  .PartnerWithDentDesk{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(245, 245, 245);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .Partner_leftSide{
    padding-left: 30px;
  }
  .Partner_rightSide div>img{
    display: flex;
    margin: auto;
      width: 50%;
  }

  .Partner_leftSide .intro{
    font-size: 25px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.Partner_leftSide>h3{
  font-size: 40px;
   
    letter-spacing: 0em;
    text-transform: none;
}

.Partner_leftSide>div{
  width: fit-content;
    margin-top: 24px;
    margin-bottom: 0px;
    
}

.eXnnyV {
  color: rgb(51, 51, 51);
  background-color: rgb(255, 240, 75);
  border: 1px solid rgb(255, 240, 75);
  text-decoration: none;
  padding:10px;
  border-radius: 5px;

}

  .Partner_rightSide{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
.JobsInDentDesk{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: white;
  padding-top: 60px;
 border-radius: 5px;
}

.JobInDentDesk-leftSide{
  padding-left: 30px;
}

.JobInDentDesk-rightSide>img{
  display: flex;
  margin: auto;
  margin-top: -140px;
}
  .JobInDentDesk-leftSide>h3{
    font-size: 40px;
     
      letter-spacing: 0em;
      text-transform: none;
      margin-bottom: 20px;
  }
  .JobInDentDesk-leftSide .intro{
    font-size: 25px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .MainJobInDentDesk{
    background-color:rgb(253, 250, 238) ;
    margin-top: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 30px;
  padding-right: 30px;
  
  }
  
  
  .Footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
   padding-top: 30px;
   padding-left: 30px;
    background-color: rgb(51, 51, 51);;
  }

  .Footer div p{
    color: rgba(255, 255, 255, 0.6);
  }
  

  .Footer div h3{
     font-size:20px;
     color:white;
  }
  .License{
    background-color: black;
    padding-top: 5px;
    padding-left: 30px;
  }
  .License div{
    display: flex;
   align-items: flex-start;
  }
  .License div p{
    margin-right: 30px;
    cursor: pointer;
  }
  .License div>p:nth-child(1){
    color:white;
  }
  .License div>p:nth-child(3),p:nth-child(2){
    color: rgba(255, 255, 255, 0.6);
  }
  /********************************************* Responsive********************************* */
  @media screen and (max-width: 500px) {
    .input-box {
      height: 66px;
      margin: 0 8px;
    }
    .input-box i {
      left: 12px;
      font-size: 25px;
    }
    .input-box input {
      padding: 0 112px 0 50px;
    }
    .input-box .button {
      right: 12px;
      font-size: 14px;
      padding: 8px 18px;
    }
    .TopService{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0em;
        text-transform: none;
        row-gap: 10px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .TopServiceHeading{
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 1px;
        text-transform: none;
        font-weight: 100;
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 50px
      }

      .ReviewBookContainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       row-gap: 90px;
       padding-left: 15px;
       padding-right: 15px;
     
   }
   .ReviewBookContainer div>img{
    display: flex;
    margin: auto;
    max-width: 40%;
    margin-top: -50px;
  }

  .ReviewBookContainer .button :nth-child(1){
    padding-left: 5px ;
    padding-right: 5px;
  }

  .GetApp{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    background-color: rgb(255, 199, 148);
    padding-top: 50px;
  }

  .GetApp_leftSide>h3{
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 0em;
    text-transform: none;
    margin-left: 30px;
  }
  .IazCA {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 8px;
    margin-left: 25px;
    display: flex;
    background-color: #fff;
    width:87px;

  
  }

  .GetApp_rightSide>img{
    width: 353px;
  }

  .GetApp_rightSide{
    background-position: center;
  }

  .PartnerWithDentDesk{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: rgb(245, 245, 245);
    row-gap: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .Partner_leftSide>h3{
    font-size: 20px;
     
      letter-spacing: 0em;
      text-transform: none;
  }


  .Partner_leftSide .intro{
    font-size: 15px;
  }
.eXnnyV{
  padding: 5px;
}

.JobsInDentDesk{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  background-color: white;
  margin-top: 55px;
  padding-top: 40px;
}

.JobInDentDesk-leftSide>h3{
 font-size: 20px;
}

.JobInDentDesk-leftSide .intro{
  font-size: 15px;
}

.JobInDentDesk-rightSide>img{
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 30px;

}

.MainJobInDentDesk{
  background-color:rgb(253, 250, 238) ;
  margin-top: 80px;
padding-top: 6px;
padding-bottom: 50px;
padding-left: 20px;
padding-right: 20px;

}

.Footer{
  grid-template-columns: repeat(2,1fr);
  row-gap: 10px;
}


  }


@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: rgb(253, 250, 238);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    margin-top: 0px;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 30px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
    color: black;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
  nav{
    padding-left: 10px;
    padding-right: 10px;
  }

  nav ul a>span{
    visibility: hidden;
    margin: 0px;
}

.description{
    padding-top: 50px;
    padding-left: 15px;
}

.SearchBoxContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

#HomePage{
    height: 330px;
    background-size: 50% auto;

}

}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

